# Proyecto Final: Procesamiento de Datos - Grupo N°18

**Integrantes:**

    * Gutiérrez Diego - dgutierrez.m79@gmail.com - Git_user:Diego-wert89
    * Gutiérrez Laura - laurasgneco@gmail.com - Git_user:laurasg2022
    * Hilgemberg Maria Sol - shilgembergmariasol22@gmail.com - Git_user:sol-hilgemberg
    * Lara Mariela - marzular@gmail.com - Git_user:MARIELARA
    * Ruani Julio - julio.ruani@gmail.com - Git_user:immersSoftware
    * Sánchez Jorge Ignacio - nacho.sanchezsolano@gmail.com - Git_user:nachosanchezsolano
    * Valdiviezo Melisa - melisa.valdiviezo@gmail.com - Git_user:MEV-656

 **El proyecto consiste en desarrollar un procesamiento de datos que incluya las siguientes etapas:** 

**1) Recolección y preparación de datos: Obtener o recolectar conjuntos de datos relevantes para el tema elegido. Realizar las tareas de limpieza, integración y transformación necesarias para preparar los datos para el análisis.**

Para el proyecto utilizamos el siguiente dataset: https://www.kaggle.com/datasets/arnabchaki/data-science-salaries-2023

Este data set contiene un archivo csv listo para la carga y empezar el desarrollo.

In [2]:
import pandas as pd
data_df=pd.read_csv("../Data_Sets/ds_salaries.csv")

data_df.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
5,2023,SE,FT,Applied Scientist,222200,USD,222200,US,0,US,L
6,2023,SE,FT,Applied Scientist,136000,USD,136000,US,0,US,L
7,2023,SE,FT,Data Scientist,219000,USD,219000,CA,0,CA,M
8,2023,SE,FT,Data Scientist,141000,USD,141000,CA,0,CA,M
9,2023,SE,FT,Data Scientist,147100,USD,147100,US,0,US,M